.fssDetails {
    max-width: 765px;
    padding: 15px;
    background-color: $fss-page-light-background;
    
    > .#{$prefix}body-el {
        background-color: $fss-page-lighter-background;
        
        .fssDetailsHeader {
            height: 345px;
            
            .flexer {
                height: 200px;
                background: transparent;
            }
        }
    }
}