@import "../../../../../../ext/classic/theme-base/sass/var/Component";
@import "../../../../../../ext/modern/theme-material/sass/var/Component";
@import "../../../../../../packages/local/fssmaterial/sass/etc/mixins/fonts";

/* colors */
$base-color-name: dynamic('red');
$accent-color-name: dynamic('grey');
$blue-color-name: dynamic('blue');

$confirm-color: dynamic(material-color('green', '600'));

@include fontFaceOpenSans;
$font-family-opensans-light: dynamic('OpenSans-Light');// 300
$font-family-opensans-regular: dynamic('OpenSans-Regular'); //400
$font-family-opensans-medium: dynamic('OpenSans-Medium');//500
$font-family-opensans-bold: dynamic('OpenSans-Bold');//700

@include fontFaceHelvetica;
$font-family-helvetica-light: dynamic('Helvetica-Light'); //300
$font-family-helvetica-roman: dynamic('Helvetica-Regular'); //400
$font-family-helvetica-regular: dynamic('Helvetica-Regular'); //400
$font-family-helvetica-medium: dynamic('Helvetica-Medium'); //500
$font-family-helvetica-bold: dynamic('Helvetica-Bold'); //700