@import "../../../../../../ext/classic/theme-base/sass/var/Component";
@import "../../../../../../ext/modern/theme-material/sass/var/Component";
@import "../../../../../../packages/local/fssmaterial/sass/etc/mixins/fonts";

/* colors */
$base-color-name: dynamic('red');
$accent-color-name: dynamic('grey');
$blue-color-name: dynamic('blue');

$confirm-color: dynamic(material-color('green', '600'));

@include fontFaceUbuntu;
$font-family-ubuntu-light: dynamic('Ubuntu-Light');// 300
$font-family-ubuntu-regular: dynamic('Ubuntu-Regular'); //400
$font-family-ubuntu-medium: dynamic('Ubuntu-Medium');//500
$font-family-ubuntu-bold: dynamic('Ubuntu-Bold');//700

@include fontFaceHelvetica;
$font-family-helvetica-light: dynamic('Ubuntu-Light');// 300
$font-family-helvetica-roman: dynamic('Ubuntu-Regular'); //400
$font-family-helvetica-regular: dynamic('Ubuntu-Regular'); //400
$font-family-helvetica-medium: dynamic('Ubuntu-Medium');//500
$font-family-helvetica-bold: dynamic('Ubuntu-Bold');//700
