/* colors */
$base-color: dynamic(#BF2242);
$base-light-color: dynamic(#C5404E);
$background-color: dynamic(#FFFFFF);
$base-background-color: dynamic(#A9ACB1);

$fss-text-input-color: dynamic(#4978C7);