@import "../../../../../../var/FSS/Application";
@import "../../../../../../etc/functions/color";
@import "../../../../../../var/Ext/Component";
@import "../../../../../../var/FSS/view/desktop/basic/treelist/TreeList";

.fssTreeList {
    min-width: 220px;
    height: 100%;
    
    .#{$prefix}panel-body-el{
        background-color: $fss-page-light-background;
    }
    
    .#{$prefix}dataview {
        min-width: 215px;
        height: 100%;
        padding-top: 20px;
        border-left: $fss-menu-no-border transparent;
        border-right: $fss-menu-no-border transparent;
        background-color: $fss-page-light-background;

        .#{$prefix}selected {
            background-color: $fss-page-lighter-background;
        }
    }

    .fssListUiReverted {
        &.#{$prefix}dataview {
            border-left: $fss-menu-border $fss-menu-border-color;
            border-right: $fss-menu-border $fss-menu-border-color;
            background-color: $fss-page-lighter-background;

            .#{$prefix}selected {
                background-color: $fss-page-light-background;
            }

            &.fssListUiLast {
                border-left: $fss-menu-no-border transparent;
                border-right: $fss-menu-border $fss-menu-border-color;
            }
        }
    }
    
    .#{$prefix}listitem-inner-el {
        padding: 5px 12px 2px 20px;
        line-height: 18px;
    }
    
    .#{$prefix}listitem {
        margin: 8px 0 6px;
        font: 300 14px Ubuntu;
        color: map-get($material-foreground-colors, 'grey');
        
        background-color: transparent;
        border-left: 6px solid transparent;
        
        &.#{$prefix}selected {
            border-left: 6px solid $base-color;
        }
    }
    
    .#{$prefix}itemheader {
        background-color: transparent;
        font: 500 13px Ubuntu;
        color: map-get($material-foreground-colors, 'light-grey');
        
        & ~ .#{$prefix}itemheader {
            margin-top: 40px;
            padding-top: 10px;
            border-top: $fss-menu-border $fss-menu-border-color;
        } 
        
        .#{$prefix}itemheader-body-el {
            padding-left: 26px;
        }
    }
}