@import "../../../../../var/FSS/Application";

.fssDesktopMain {
    .#{$prefix}dock-vertical {
        width: calc(100% - 470px);
    
        @media #{$is-desktop} {
            width: calc(100% - 470px) !important;
        }
    
        @media #{$is_tablet} {
            width: calc(100% - 170px) !important;
        }
    
        @media #{$is-phone} {
            width: calc(100%) !important;
        }
    
        margin-left: auto;
        margin-right: auto;
    }
    
    background-color: $fss-page-background;
}