/* font */
@font-face {
    font-family: helveticaNeueBd;
    src: url(font/HelveticaNeueLTStd-Bd.otf);
}
@font-face {
    font-family: helveticaNeueMd;
    src: url(font/HelveticaNeueLTStd-Md.otf);
}

@font-face {
    font-family: helveticaNeueLt;
    src: url(font/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: helveticaNeueRoman;
    src: url(font/HelveticaNeueLTStd-Roman.otf);
}

/* size */
$header-height: 75px;
$header-mobile-height: 50px;

/* profiles */
$is-desktop: "only screen and (min-width: 1366px)";
$is-tablet: "only screen and (min-width: 768px) and (max-width: 1366px)";
$is-phone: "only screen and (max-width: 800px)";

/* button */
$fss-flat-button-background-color: dynamic(#9A1C36);

/* menu */
$fss-menu-border: 1px solid;
$fss-menu-no-border: 0px solid;
$fss-menu-border-color: dynamic(material-color($accent-color-name, '200'));
$fss-menu-alt-border-color: dynamic(material-color($blue-color-name, 'a200'));

/* input */
$fss-text-input-color: dynamic(#4978C7);

/* page */
$fss-page-background: dynamic(material-color($accent-color-name, '500'));
$fss-page-light-background: dynamic(material-color($accent-color-name, '100'));
$fss-page-lighter-background: dynamic(material-color($accent-color-name, 'a100'));
$fss-header-background-color: dynamic(material-color($accent-color-name, '100'));
$fss-selected-background-color: dynamic(material-color($accent-color-name, 'a100'));

$fss-blue-page-background: dynamic(material-color($blue-color-name, '500'));