@import "../../../../../../../var/FSS/Application";
@import "../../../../../../../etc/functions/color";
@import "../../../../../../../var/Ext/Component";
@import "../../../../../../../var/FSS/view/desktop/tabpanel/treelist/TreeList";

.fssTreeList {
    min-width: 220px;
    height: 100%;

    .#{$prefix}panel-body-el {
        background-color: $fss-page-light-background;
    }

    .fssListUiReverted {
        &.fssList {
            border-left: $fss-menu-border $fss-menu-border-color;
            border-right: $fss-menu-border $fss-menu-border-color;
            background-color: $fss-page-lighter-background;

            .#{$prefix}selected {
                background-color: $fss-page-light-background !important;
            }

            &.fssListUiLast {
                border-left: $fss-menu-no-border transparent;
                border-right: $fss-menu-border $fss-menu-border-color;
            }
        }
    }

    .fssListUiBase {
        .#{$prefix}listitem {

            &.#{$prefix}first {
                padding-left: 20px;

                &.#{$prefix}selected {
                    background-color: transparent !important;
                    border-left: 6px solid transparent;
                    color: map-get($material-foreground-colors, 'darker-red');
                }

                &::before {
                    content: '';
                    background: url(images/fssmodern/small-logo.png) no-repeat;
                    background-size: 13px;

                    position: absolute;
                    width: 15px;
                    height: 25px;

                    top: 5px;
                }
            }
        }
    }
}