$fss-list-ui: dynamic($enable-default-uis);

$fss-list-base-ui: dynamic($enable-default-uis);
$fss-list-reverted-ui: dynamic($enable-default-uis);
$fss-list-last-ui: dynamic($enable-default-uis);

@mixin fss-list-ui(
    $border-left: $fss-menu-no-border transparent,
    $border-right: $fss-menu-no-border transparent
) {
    .#{$prefix}dataview {
        min-width: 220px;
        height: 100%;
        padding-top: 20px;
        border-left: $border-left;
        border-right: $border-right;
    }
    
    .#{$prefix}listitem-inner-el {
        padding: 5px 12px 2px 20px;
        line-height: 18px;
    }
    
    .#{$prefix}listitem {
        margin: 8px 0 6px;
        font: 300 14px Ubuntu;
        color: map-get($material-foreground-colors, 'grey');
        
        background-color: transparent;
        border-left: 6px solid transparent;
        
        &.#{$prefix}selected {
            border-left: 6px solid $base-color;
        }
    }
    
    .#{$prefix}itemheader {
        background-color: transparent;
        font: 500 13px Ubuntu;
        color: map-get($material-foreground-colors, 'light-grey');
        
        & ~ .#{$prefix}itemheader {
            margin-top: 40px;
            padding-top: 10px;
            border-top: $fss-menu-border $fss-menu-border-color;
        }
        
        .#{$prefix}itemheader-body-el {
            padding-left: 26px;
        }
    }
}

@mixin fss-list-base-ui() {
    @include dataview-ui(
        $ui: 'normal',
        $background-color: $fss-header-background-color,
        $item-selected-background-color: $fss-selected-background-color
    );
}

@mixin fss-list-reverted-ui() {
    @include dataview-ui(
        $ui: 'reverted',
        $background-color: $fss-page-light-background,
        $item-selected-background-color: $fss-header-background-color
    );
}

@mixin fss-list-last-ui() {
    @include fss-list-ui(
        $ui: 'last',
        $border-left: $fss-menu-border transparent
    );
}


