$urlFonts: 'font/'; //app resources fonts folder

@mixin fontFaceHelvetica {
    @font-face {
        font-family: Helvetica-Bold;
        src: url('#{$urlFonts}HelveticaNeue/HelveticaNeueLTStd-Bd.otf');
    }
    @font-face {
        font-family: Helvetica-Medium;
        src: url('#{$urlFonts}HelveticaNeue/HelveticaNeueLTStd-Md.otf');
    }

    @font-face {
        font-family: Helvetica-Light;
        src: url('#{$urlFonts}HelveticaNeue/HelveticaNeueLTStd-Lt.otf');
    }

    @font-face {
        font-family: Helvetica-Regular;
        src: url('#{$urlFonts}HelveticaNeue/HelveticaNeueLTStd-Regular.otf');
    }

    @font-face {
        font-family: Helvetica-Roman;
        src: url('#{$urlFonts}HelveticaNeue/HelveticaNeueLTStd-Roman.otf');
    }
}

@mixin fontFaceOpenSans {
    @font-face {
        font-family: OpenSans-Regular;
        src: url('#{$urlFonts}OpenSans/OpenSans-Regular.ttf');
    }

    @font-face {
        font-family: OpenSans-Light;
        src: url('#{$urlFonts}OpenSans/OpenSans-Light.ttf');
    }

    @font-face {
        font-family: OpenSans-Medium;
        src: url('#{$urlFonts}OpenSans/OpenSans-Semibold.ttf');
    }

    @font-face {
        font-family: OpenSans-Bold;
        src: url('#{$urlFonts}OpenSans/OpenSans-Bold.ttf');
    }
}
