.fssBasic {
    div {
        background-color: $fss-page-background;
    }
    
    .fssTreeList {
        width: 200px;
        height: 100%;
        
        .fssTreeListMain {
            width: 100%;
            height: 100%;
            border-right: $fss-menu-border;
            
            .#{$prefix}itemheader {
                border-top: $fss-menu-border;
            }
        }
    }
}